services:
  redis:
    image: redis:alpine
    container_name: abd-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: always

  redis-insight:
    image: redislabs/redisinsight:latest
    container_name: abd-redis-insight
    ports:
      - "8001:8001"
    depends_on:
      - redis
    restart: always

volumes:
  redis_data:
