services:
  redis:
    image: redis:alpine
    container_name: abd-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: always

  redis-insight:
    image: redislabs/redisinsight:latest
    container_name: abd-redis-insight
    ports:
      - "8001:8001"
    depends_on:
      - redis
    restart: always

  neo4j:
    image: neo4j:5.12.0
    container_name: abd-neo4j
    ports:
      - "7474:7474" # HTTP
      - "7687:7687" # Bolt
    environment:
      NEO4J_AUTH: neo4j/password
      NEO4J_PLUGINS: '["apoc", "graph-data-science"]'
      NEO4J_dbms_security_procedures_unrestricted: apoc.*,gds.*
    volumes:
      - neo4j_data:/data
      - neo4j_logs:/logs
    restart: always

volumes:
  redis_data:
  neo4j_data:
  neo4j_logs:
